<div class="menu">
  <span class="text-muted">{{ timestampEnd | c8yDate }}</span>

  <span *ngIf="paging && config.showMeta">
    {{ results }} Results
    <ng-container *ngIf="paging.totalPages <= config.pageLimit; else lessThanTotalPages">
      <span class="text-muted" [tooltip]="'Current Page: ' + paging.currentPage + '\nTotal Pages: ' + paging.totalPages"
        [placement]="'bottom'">
        ({{ paging.currentPage }}/{{ paging.totalPages }})
      </span>
    </ng-container>
    <ng-template #lessThanTotalPages>
      <span class="text-muted"
        [tooltip]="'Current Page: ' + paging.currentPage + '\nPage Limit: ' + config.pageLimit + '\nTotal Pages: ' + paging.totalPages"
        [placement]="'bottom'">
        ({{ paging.currentPage }}/{{ config.pageLimit }}|{{paging.totalPages}})
      </span>
    </ng-template>
  </span>

  <button type="button" class="btn btn-clean" (click)="loadData()">
    <i class="m-r-4 dlt-c8y-icon-refresh"></i>
    {{ 'Refresh' | translate }}
  </button>
</div>

<!-- manual load trigger -->
<ng-container *ngIf="!config.runOnLoad && !timestampStart">
  <div class="d-flex j-c-center p-16">
    <button type="button" class="btn btn-primary" (click)="loadData()">
      {{ 'Load data' | translate }}
    </button>
  </div>
</ng-container>

<!-- views -->
<ng-container *ngIf="!loading; else loadingData">
  <ng-container *ngIf="assetGroups?.length; else noData">
    <ng-container [ngSwitch]="config.display">
      <ng-container *ngSwitchCase="displayMode.list">
        <ng-template [ngTemplateOutlet]="assetListTemplateDefault"
          [ngTemplateOutletContext]="{ assets: assetGroups[0].objects }">
        </ng-template>
      </ng-container>
      <ng-container *ngSwitchCase="displayMode.pieAggregate">
        <ng-template [ngTemplateOutlet]="pieCHartTemplateDefault" [ngTemplateOutletContext]="{ assets: assetGroups }">
        </ng-template>
      </ng-container>
      <ng-container *ngSwitchCase="displayMode.pieCount">
        <ng-template [ngTemplateOutlet]="pieCHartTemplateDefault" [ngTemplateOutletContext]="{ assets: assetGroups }">
        </ng-template>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ng-template [ngTemplateOutlet]="barChartTemplateDefault" [ngTemplateOutletContext]="{ groups: assetGroups }">
        </ng-template>
      </ng-container>
    </ng-container>
  </ng-container>

  <div *ngIf="config.showMeta && timestampEnd" class="d-flex j-c-center m-t-16 p-b-8">
    <small class="text-muted">{{ 'Query duration' }}: {{ duration }}</small>
  </div>
</ng-container>

<!-- bar chart basic -->
<ng-template #barChartTemplateDefault let-groups="assetGroups">
  <ul *ngIf="assetGroups">
    <li *ngFor="let group of assetGroups">
      <ng-template [ngTemplateOutlet]="barChartItemTemplateDefault" [ngTemplateOutletContext]="{ group: group }">
      </ng-template>
    </li>
  </ul>
</ng-template>

<!-- bar chat item -->
<ng-template #barChartItemTemplateDefault let-group="group">
  <label class="text-truncate">{{ group.label }}</label>
  <span>
    {{ group.value }}
    <span *ngIf="config.percent" class="percent text-muted">
      {{ (group.value / total) * 100 | number : '1.1-1' }}%
    </span>
  </span>
  <div [ngStyle]="{
      width: (group.value / max) * 100 + '%',
      backgroundColor: config.color,
      opacity: config.opacity
    }">
  </div>
</ng-template>

<!-- table -->
<ng-template #assetListTemplateDefault let-assets="assets">
  <table class="table table-striped">
    <thead>
      <tr>
        <th translate>Asset</th>
        <th translate>System ID</th>
        <th translate>Type</th>
        <th translate>Model</th>
        <th translate>Registration Date</th>
        <th translate>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asset of assets">
        <td>
          <ng-container *ngIf="asset.c8y_IsDeviceGroup; else deviceLink">
            <a [routerLink]="[ '/group', asset.id ]">{{ asset.name }}</a>
          </ng-container>
          <ng-template #deviceLink>
            <a [routerLink]="[ '/device', asset.id ]">{{ asset.name }}</a>
          </ng-template>
        </td>
        <td class="text-right">{{ asset.id }}</td>
        <td>{{ asset.type || '-' }}</td>
        <td>{{ asset.c8y_Hardware?.model || '-' }}</td>
        <td>{{ asset.creationTime | c8yDate }}</td>
        <td>{{ asset.lastUpdated | c8yDate }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>

<!-- pie chart -->
<ng-template #pieCHartTemplateDefault let-assets="assets">
  <div class="chart-wrap">
    <canvas baseChart [data]="pieChartData" [type]="'pie'" [options]="pieChartOptions">
    </canvas>
  </div>
</ng-template>

<!-- loading -->
<ng-template #loadingData>
  <div class="loading-data">
    <c8y-loading></c8y-loading>
  </div>
</ng-template>

<!-- empty -->
<ng-template #noData>
  <ng-container *ngIf="assetGroups">
    <div class="p-16 m-b-16">
      <h2>Empty AssetGroup Result</h2>
      <pre>{{ config | json }}</pre>
    </div>
  </ng-container>
</ng-template>
