<fieldset>
  <p class="legend form-block">query</p>

  <div class="form-group">
    <label for="field_query">query</label>
    <input class="form-control code" type="text" id="field_query" name="query"
      placeholder="(kpi_Group.groupId eq [kpi_GroupRefernce]) and has(c8y_IsDevice)" [(ngModel)]="config.query" />
    <small class="text-muted">
      Placeholders can be used to set query parameters based on the dashbaords asset, e.g.
      <code>[kpi_fragment]</code>.
    </small>
  </div>

  <div class="form-group">
    <label for="field_pageSize">pageSize</label>
    <input class="form-control" type="number" id="field_pageSize" name="pageSize" step="250" min="1" placeholder="500"
      [(ngModel)]="config.pageSize" />
  </div>

  <div class="form-group">
    <label for="field_pageLimit">pageLimit</label>
    <input class="form-control" type="number" id="field_pageLimit" name="pageLimit" step="1" min="1" placeholder="3"
      [(ngModel)]="config.pageLimit" />


  </div>
  <div class="form-group">
    <label for="field_parallelRequests">parallelRequests</label>
    <input class="form-control" type="number" id="field_parallelRequests" name="parallelRequests" step="1" min="1"
      max="10" placeholder="1" [(ngModel)]="config.parallelRequests" />
  </div>
</fieldset>

<fieldset>
  <p class="legend form-block">view</p>

  <div class="form-group">
    <label for="field_display">display</label>
    <div class="c8y-select-wrapper">
      <select id="field_display" name="display" class="form-control" [(ngModel)]="config.display">
        <option *ngFor="let option of displayOptions" [ngValue]="option">{{ option }}</option>
      </select>
    </div>
  </div>

  <div *ngIf="config.display != 'list'" class="form-group">
    <label for="field_kpiFragment">kpiFragment</label>
    <input class="form-control code" type="text" id="field_kpiFragment" name="kpiFragment"
      placeholder="c8y_ActiveAlarmsStatus.major" [disabled]="config.display == 'list'"
      [(ngModel)]="config.kpiFragment" />
  </div>

  <div *ngIf="config.display != 'list'" class="form-group">
    <label for="field_groupBy">groupBy</label>
    <input class="form-control code" type="text" id="field_groupBy" name="groupBy" placeholder="c8y_Hardware.model"
      [disabled]="config.display == 'list'" [(ngModel)]="config.groupBy" />
  </div>

  <div *ngIf="config.display == 'aggregate'" class="form-group">
    <label for="field_label">label</label>
    <input class="form-control code" type="text" id="field_label" name="label" placeholder="type"
      [disabled]="config.display != 'aggregate'" [(ngModel)]="config.label" />
  </div>

  <div class="form-group">
    <label for="field_sort">sort</label>
    <div class="c8y-select-wrapper">
      <select id="field_sort" name="sort" class="form-control" [(ngModel)]="config.sort">
        <option *ngFor="let option of sortOptions" [ngValue]="option">{{ option }}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="field_order">order</label>
    <div class="c8y-select-wrapper">
      <select id="field_order" name="order" class="form-control" [(ngModel)]="config.order">
        <option *ngFor="let option of orderOptions" [ngValue]="option">{{ option }}</option>
      </select>
    </div>
  </div>
</fieldset>

<fieldset *ngIf="config.display != 'list'">
  <p class="legend form-block">style</p>

  <div class="form-group" *ngIf="config.display === 'pieAggregate' || config.display === 'pieCount'; else noPieChartStyle">
    <label for="field_legend_position">legendPosition</label>
    <select class="form-control" id="field_legend_position" name="color" [(ngModel)]="config.chartLegendPosition">
      <option value="top">⬆️ top</option>
      <option value="right">➡️ right</option>
      <option value="bottom">⬇️ bottom</option>
      <option value="left">⬅️ left</option>
    </select>
  </div>

  <ng-template #noPieChartStyle>
    <div class="form-group">
      <label for="field_color">color</label>
      <input class="form-control" type="color" id="field_color" name="color" placeholder="#00584d"
        [disabled]="config.display == 'list'" [(ngModel)]="config.color" />
    </div>
  
    <div class="form-group">
      <label for="field_opacity">opacity</label>
  
      <div class="input-group">
        <input class="form-control" type="number" id="field_opacity" name="opacity" step="10" min="0" max="100"
          placeholder="30" [disabled]="config.display == 'list'" [(ngModel)]="opacity" />
        <div class="input-group-addon">%</div>
      </div>
    </div>
  </ng-template>
</fieldset>

<fieldset>
  <p class="legend form-block">misc</p>

  <div *ngIf="config.display != 'list'" class="form-group">
    <label class="c8y-switch">
      <input type="checkbox" name="percent" [disabled]="config.display == 'list'" [(ngModel)]="config.percent" />
      <span></span>
      percent
    </label>
  </div>

  <div class="form-group">
    <label class="c8y-switch">
      <input type="checkbox" name="showMeta" [(ngModel)]="config.showMeta" />
      <span></span>
      showMeta
    </label>
  </div>

  <div class="form-group">
    <label class="c8y-switch">
      <input type="checkbox" name="runOnLoad" [(ngModel)]="config.runOnLoad" />
      <span></span>
      runOnLoad
    </label>
  </div>
</fieldset>
